        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            min-height: 100vh;
            background-color: #f4f4f4;
            width: 100%;
            position: fixed;
        }

        .barra {
            background-color: #003a57;
            color: white;
            padding: 10px;
            height: 100vh;
            width: 250px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .barra a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            display: flex;
        }

        .barra a:hover {
            text-decoration: underline;
            background-color: #005a807a;
            transition: background-color 1s;
        }
        
        .icono-tarea {
            filter: invert(1);
        }

        .tarea {
            filter: invert(1);
        }

        .Seccion1 { 
            margin-top: 375px;
        }

        .ir-inicio {
            filter: invert(1);
        }

        .iniciar-sesion {
            filter: invert(1);
        }

        .Cerrar-seccion {
            filter: invert(1);   
        }

        .content {
            text-align: center;
            flex: 1;
            padding: 20px;
            background-color: white;
            border-left: 1px solid #ddd;
        }

        .content h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .barra-escribir {
            margin-bottom: 15px;
            text-align: center;
        }

        .barra-escribir label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            text-align: center;
        }

        .barra-escribir input,
        .barra-escribir textarea,
        .barra-escribir select {
            text-align: center;
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        .barra-escribir textarea {
            text-align: center;
            resize: none;
            height: 80px;
        }

        .barra-escribir input[type="date"] {
            text-align: center;
            font-size: 14px;
        }

        .Registrar-tarea {
            background-color: #003a57;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .Registrar-tarea:hover {
            background-color: #005a80;
        }